{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brookshear VM</title>
    <link rel="icon" type="image/x-icon" href="{% static 'logo.ico' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>{% load static %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Brookshear VM</title>
      <link rel="icon" type="image/x-icon" href="{% static 'logo.ico' %}" />
      <link rel="stylesheet" href="{% static 'styles.css' %}" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
              href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
              rel="stylesheet"
      />
  </head>
  <body>
  <section class="forgot-section">
      <div class="forgot-card">
          <img class="logo" src="{% static 'logo.png' %}" alt="logo" />
          <h1>JBrookShear Machine</h1>
          <div class="forgot-input">
              <label for="email">Email Address</label>
              <input type="email" id="email" />
          </div>
          <div class="forgot-input">
              <label for="password">Password</label>
              <input type="text" id="password" />
          </div>
          <div class="forgot-input">
              <label for="password">Confirmed Password</label>
              <input type="text" id="password" />
          </div>
          <a class="link" href="{% url 'login' %}">Go to login</a>
          <button class="control-button">Reset Password</button>
      </div>
      <div class="university-logo-container">
          <img class="university-logo" src="{% static 'University_of_Sussex_Logo.png' %}" alt="University logo" />
          <h2>School of Engineering and Informatics</h2>
      </div>
  </section>
  </body>
  </html>

  <section class="forgot-section">
      <div class="forgot-card">
        <img class="logo" src="{% static 'logo.png' %}" alt="logo" />
        <h1>JBrookShear Machine</h1>
        <div class="forgot-input">
          <label for="email">Email Address</label>
          <input type="email" id="email" />
        </div>
        <div class="forgot-input">
          <label for="password">Password</label>
          <input type="text" id="password" />
        </div>
        <div class="forgot-input">
            <label for="password">Confirmed Password</label>
            <input type="text" id="password" />
          </div>
        <a class="link" href="{% url 'login' %}">Go to login</a>
        <button class="control-button">Reset Password</button>
      </div>
      <div class="university-logo-container">
          <img class="university-logo" src="{% static 'University_of_Sussex_Logo.png' %}" alt="University logo" />
          <h2>School of Engineering and Informatics</h2>
      </div>
    </section>
  </body>
</html>
