body {
  box-sizing: border-box;
  color: #333;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.85rem;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0.5rem;
  width: 100vw;
}
h1 {
  color: rgb(105, 68, 141);
  font-size: 1.35rem;
  font-weight: 700;
}
h3 {
  font-style: italic;
  font-size: 0.9rem;
}
p {
  font-size: 0.8rem;
}
em {
  color: rgb(105, 68, 141);
  font-style: italic;
  font-weight: 700;
}
strong {
  font-style: italic;
}
.link-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(85, 26, 139);
  text-decoration: underline;
}
a:hover,
.link-btn:hover {
  color: rgb(133, 27, 232);
  transition: color 0.2s;
}
.subtitle-text {
  font-size: 0.8rem;
}
ul > li {
  margin-bottom: 0.25rem;
}
li::marker {
  font-size: 1.05rem;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
}
.memory {
  width: 45%;
}
.registers {
  width: 35%;
}
.information {
  width: 20%;
}
.memory,
.registers,
.information {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
.memory h2,
.registers h2,
.information h2 {
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.memory table {
  min-height: 100vh;
}
.registers table {
  min-height: 50vh;
}
.memory table,
.registers table {
  border-collapse: collapse;
  width: 100%;
}
.registers table {
  margin-bottom: 1rem;
}
.memory th,
.registers th,
.memory td,
.registers td {
  border: 1px solid #ddd;
  cursor: default;
  text-align: center;
}
.memory th,
.registers th {
  background-color: #f1f1f1;
  padding: 2.5px;
}
.memory td,
.registers td {
  padding: 0.25px;
}
.information {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  overflow-x: hidden;
}
.information-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.information-header h2 {
  margin-bottom: 0;
}
.information-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.information-form {
  margin: 0.5rem 0 1rem 0;
}
.information-form label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.information-form button {
  margin-top: 0.75rem;
}
.link {
  color: rgb(105, 68, 141);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: underline;
}
.assembly-machine-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}
.scroll-box {
  border-radius: 5px;
  border: 1.25px dashed #888;
  max-height: 165px;
  height: 100%;
  overflow: auto;
  padding: 0.35rem;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
.information-footer {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.information .logo {
  width: 30%;
}
.information-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.information-buttons .control-button {
  padding: 0.35rem 1rem;
}
.control-button {
  background-color: #007bff;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.65rem;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  transition: background-color 0.3s;
}
.control-button:hover {
  background-color: #0056b3;
}
.memory-footer,
.registers-footer {
  align-items: center;
  background-color: #ddd;
  bottom: 0;
  display: flex;
  margin-top: auto;
  padding: 0.5rem;
  position: sticky;
}
.memory-footer {
  justify-content: space-between;
}
.registers-footer {
  gap: 1rem;
}
.registers-footer-item {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 0.35rem;
}
.registers-footer-item:last-child {
  flex: 1.35;
}
.memory-buttons {
  display: flex;
  gap: 0.5rem;
}
.speed-slider {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
.control input[type="text"],
.registers-footer input[type="text"],
.control input[type="range"],
.control textarea {
  padding: 0.25rem 0.5rem;
  margin-top: 0.2rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 85%;
}
label {
  font-size: 0.75rem;
  font-weight: 600;
}
input[type="text"].narrow-input {
  border: none;
  box-sizing: border-box;
  max-width: 70px;
  text-align: right;
}
#display-canvas {
  aspect-ratio: 1 / 1;
  display: block;
  width: 100%;
}

code {
  font-family: monospace;
  background-color: #f4f4f4;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}
pre {
  background-color: #f4f4f4;
  border-radius: 3px;
  line-height: 1.25rem;
  overflow-x: auto;
  padding: 1em;
}
.highlight {
  background-color: #e0e0e0;
  padding: 0.2em;
}

/* Modal */
.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  top: 0;
  width: 100%;
  z-index: 1;
}
.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-content h2 {
  color: #0b612c;
  font-size: 0.85rem;
  font-style: italic;
}
.modal-footer > p {
  color: #ccc;
  font-size: 0.5rem;
  font-style: italic;
  letter-spacing: 0.05rem;
  text-align: end;
}
.instructions-close,
.help-close,
.assembler-help-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: 600;
}
.instructions-close:hover,
.help-close:hover,
.assembler-help-close:hover,
.instructions-close:focus,
.help-close:focus,
.assembler-help-close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

/* Login */
.login-section,
.forgot-section {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
}
.login-section h1,
.forgot-section h1 {
  font-size: 1.15rem;
  margin-bottom: 1.5rem;
}
.login-card,
.forgot-card {
  align-items: center;
  border-radius: 1rem;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.login-card .logo,
.forgot-card .logo {
  width: 7.5rem;
}
.login-input,
.forgot-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;
}
.login-input label,
.forgot-input label {
  margin-bottom: 0.25rem;
}
.login-card .control-button,
.forgot-card .control-button {
  width: 90%;
  margin-top: 0.5rem;
}
.university-logo-container {
  align-items: center;
  display: flex;
  gap: 0.65rem;
  margin: 0.5rem;
  position: absolute;
}
.login-section .university-logo-container {
  left: 0;
  top: 0;
}
.forgot-section .university-logo-container {
  justify-content: flex-end;
  right: 0;
  top: 0;
}
.university-logo-container h2 {
  color: #003b49;
  font-size: 1rem;
  text-wrap: pretty;
  width: 185px;
}
.university-logo {
  width: 20%;
}
.login-section .link,
.forgot-section .link {
  margin-bottom: 0.5rem;
}
